
@{
    ViewBag.Title = "YeniUrun";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>Ürün Adı</label>
        <input type="text" class="form-control" name="Urun_Adi" />
        <label>Ürün Açıklama</label>
        <input type="text" class="form-control" name="Urun_Aciklama" />
    </div>
    <div style="margin-top:15px"></div>
    <button class="btn btn-info">Ürün Ekle</button>
    </div>
</form>


