
@{
    ViewBag.Title = "YeniGonderici";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>Gönderici Adı</label>
        <input type="text" class="form-control" name="Gonderici_Ad" />
        <label>Gönderici Soyadı</label>
        <input type="text" class="form-control" name="Gonderici_Soyad" />
        <label>Gönderici Adresi</label>
        <input type="text" class="form-control" name="Gonderici_Adres" />
        <label>Gönderici İlçesi</label>
        <input type="text" class="form-control" name="Gonderici_Ilce" />
        <label>Gönderici İli</label>
        <input type="text" class="form-control" name="Gonderici_Il" />
    </div>
    <div style="margin-top:15px"></div>
    <button class="btn btn-info">Gönderici Ekle</button>
    </div>
</form>


