
@{
    ViewBag.Title = "YeniAlici";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>Alıcı Adı</label>
        <input type="text" class="form-control" name="Alici_Ad" />
        <label>Alıcı Soyadı</label>
        <input type="text" class="form-control" name="Alici_Soyad" />
        <label>Alıcı Adresi</label>
        <input type="text" class="form-control" name="Alici_Adres" />
        <label>Alıcı İlçesi</label>
        <input type="text" class="form-control" name="Alici_Ilce" />
        <label>Alıcı İli</label>
        <input type="text" class="form-control" name="Alici_Il" />
    </div>
    <div style="margin-top:15px"></div>
    <button class="btn btn-info">Alıcı Ekle</button>
    </div>
</form>

